<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<footer th:fragment="footer">
	<div style="text-align: center;height:100%;">
		<span class="footer-item">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Author : Kim Gi Moon &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span>
		<span class="footer-item">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Phone : 010-7657-5746 &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</span>
		<span class="footer-item">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Email : kimeach@naver.com &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</span>
		<span class="footer-item">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Company : Marin Company &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</span>
	</div>

<th:block layout:fragment="css">
<style>
.footer-item{
color : white;
vertical-align: middle;
height: 100%;
}
</style>
</th:block>
</footer>
</html>