<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
	
</head>
<header th:fragment="header" id="header">
	<div style="width:100%;height:100%;background-color: rgba(0,0,0,0.2);">
		<div id="header-main">
			<div id="header-title">

				<div id="wrapper">
		      <div id="slider-wrap">
		          <ul id="slider">
		             <li>
		                <div>
		                    <span>Sub-title #1</span>
		                </div>                
						<img th:src="@{img/image1.jpg}">
		             </li>
		             <li data-color="#3498db">
		                <div>
		                    <span>Sub-title #2</span>
		                </div>
		                <img th:src="@{img/image2.jpg}">
		             </li>
		             <li data-color="#9b59b6">
		                <div>
		                    <span>Sub-title #3</span>
		                </div>
		                <img th:src="@{img/image3.jpg}">
		             </li>
		             <li data-color="#34495e">
		                <div>
		                    <span>Sub-title #4</span>
		                </div>
		                <img th:src="@{img/image4.jpg}">
		             </li>
		          </ul>
		           <!--controls-->
		          <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
		          <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
		          <div id="counter"></div>
		          <div id="pagination-wrap">
		          </div>
		      </div>
		   </div>
		   
			</div>
			<div class="searchCover">
				<input type="text" class="form-control" id="search-control" placeholder="search...">
				<div id="searchbtn">Search</div>
			</div>
		</div>
		<div id="header-sub">
			<div style="display: inline-block;">best keyword :</div> 
			  <section class="pen" style="display: inline-block;">
				<h5 class="text" style="color:white">
				  	<span class="txt-rotate" data-period="2000"
				     data-rotate='[ "조혜형","바보","keyword1","keyword2" ]'>
				 	</span>
				</h5>
			</section>
		</div>
	</div>
<th:block layout:fragment="css">
<style>

</style>
</th:block>
</header>
</html>