<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
	
</head>
<header th:fragment="header">
<!-- 		<div id="header-main">
		 	<div id="header-title">

				
		   
			</div>
	 		<div class="searchCover">
				<input type="text" class="form-control" id="search-control" placeholder="search...">
				<div id="searchbtn">Search</div>
			</div>
		</div> -->
<!-- 		<div id="header-sub">
			<div style="display: inline-block;">best keyword :</div> 
			  <section class="pen" style="display: inline-block;">
				<h5 class="text" style="color:white">
				  	<span class="txt-rotate" data-period="2000"
				     data-rotate='[ "조혜형","바보","keyword1","keyword2" ]'>
				 	</span>
				</h5>
			</section>
		</div> -->
<th:block layout:fragment="css">
<style>

</style>
</th:block>
</header>
</html>